AddType application/octet-stream .tgz

RewriteEngine on
RewriteRule download index.php?do=download  [QSA,L]
RewriteRule get      index.php?do=get       [QSA,L]
RewriteRule archive  index.php?do=archive   [QSA,L]
RewriteRule rss      index.php?do=rss       [QSA,L]
RewriteRule version  index.php?do=version   [QSA,L]
